body {
  background: #f8f8f8;
}
.nedemo {
  width: 450px;
  height: 200px;
  background: #ffffff;
  border: solid 1px #E9E9E9;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 24px;
}
