html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}
.demo_editor {
  padding: 25px;
}
.comment {
    text-transform: uppercase;
    font-weight: 700;
}
